:root {
    --black: #202020;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    background: #040D12;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
   
    color: white;
}

.container {
    padding-inline: 1rem;
}

.nav {
    background: transparent;
    width: 100%;
  
}

.nav-container {
    width: 100%;
    /* border: 1px solid red; */
    height: fit-content;
    padding: 20px 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav-title {
    font-size: 2rem;
    color: white;
}

.nav-links {
    padding: .65rem .75rem;
    transition: all .3s ease-out;
    border-radius: 4px;
}

.nav-links:hover {
    background-color: rgb(233, 233, 233);
    transition: all .3s ease-in;
    color: #040D12;
}
.menu-icon{
    display: inline-block;
    width: fit-content;
    display: none;
}
#menu-bars{
    font-size: 1.8rem;
    color: white;
    
}


/* Home */

.home-section {
    padding: 200px;
    background-color:#183D3D;
}

.home-container {
    /* background-color: #fea987; */
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: .25rem;
    margin-top: 2.5rem;
}

.home-title {
    font-size: 4rem;
}

.auto-name {
    width: 100%;
    text-wrap: nowrap;
    display: inline-block;
    color: white;
    overflow: hidden;
    border-right: 5px solid #5C8374;
    animation: typing 3s steps(20) alternate infinite,
        cursor 0.4s infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 110%;
    }
}

.home-subtitle {
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}


/* Followers Container Start */

.followers-section {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    padding: 2%;
    background-color: chocolate;

}

.box {
    display: inline-flex;
    border: 5px solid rgb(94, 255, 35);
    width: 20%;
    align-items: center;
    background-color: black;
    color: white;

    flex-direction: column;
    height: 20vh;
    padding: 2%;
}

.box h1 {
    text-align: center;
    text-wrap: nowrap;
    font-size: 2.5rem;
}

.box label {
    text-wrap: nowrap;
    text-align: center;
    font-size: 1.3rem;
}

/* Followers Container End*/


/* Skills */

.skills-section {
    width: 100%;
    background-color: #183D3D;
    /* background-color: #5C8374; */
    height: fit-content;
    /* border: 2px solid red; */
}

.skills-title {
    padding: 40px;
    font-size: 3rem;
    color: white;
    font-weight: 650;
}


.skill-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0 50px 0;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    /* border: 2px solid red; */

}

.skill-cards .cards {

    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    width: 400px;
    height: 250px;
    overflow: hidden;
    margin: 30px;
    box-shadow: 20px 20px 20px 0px black;
}

.skill-cards .cards:hover {
    transition: 0.3s ease-in;
    margin-bottom: 10px;
    box-shadow: 20px 20px 20px 0px rgb(4, 7, 91);
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
}

.cards img {
    opacity: 70%;
    width: 100%;
    height: 100%;
}

.cards label {
    position: absolute;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
}

/* Experience */

.experience-section {
    width: 100%;
    height: fit-content;
    background-color: #183D3D;
    /* background-color: #5C8374; */
    /* border: 2px solid red; */
    padding-bottom: 80px;
}

.experience-title {
    color: white;
    padding: 40px;
    font-size: 3rem;
    font-weight: 650;
}

.exp {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 400px; */
    /* background-color: blue; */
}

.exp1 {
    text-align: center;
    align-content: center;
    padding: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    width: 90%;
    height: 200px;
    border-radius: 20px;
    /* background-color: #183D3D;
    background-color: #5C8374; */
    background-color: #93B1A6;
    
}

/* Projects */

.project-section {
    width: 100%;
    background-color: aqua;
    height: fit-content;
    /* border: 2px solid red; */
    padding-bottom: 80px;
    
    background-color: #183D3D;
    /* background-color: #5C8374; */
    /* background-color: #93B1A6; */
}

.project-title {
    color: white;
    padding: 40px;
    font-size: 3rem;
    font-weight: 650;

}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0 10px 0;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    /* border: 2px solid red; */

}

.project-cards .cards {

    display: flex;
    align-items: center;
    width: 380px;
    height: 350px;
    overflow: hidden;
    position: relative;
    margin: 30px;
    box-shadow: 20px 20px 20px 0px black;
    transition: .3s ease;

}

.project-cards .cards:hover {
    transition: .3s ease;
    margin-bottom: 10px;
    box-shadow: 20px 20px 20px 0px rgb(91, 4, 85);

}

.project-cards .cards .image {
    width: 100%;
    height: 100%;

}

.project-cards .cards img {
    opacity: 70%;
    width: 100%;
    height: 100%;
}

.project-cards .cards a {

    position: absolute;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

/* Reviews */

.review-section {
    
    background-color: #183D3D;
    /* background-color: #5C8374;
    background-color: #93B1A6; */
    width: 100%;
    height: 500px;
}

.review-title {
    color: white;
    padding: 40px;
    font-size: 3rem;
    font-weight: 650;

}

/* Swiper CSS Start*/


.swiper {
    width: 100%;
    height: 300px;
    
    margin: 20px auto;
}


.swiper-slide {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    
    /* background-color: #5C8374; */
    background-color: #93B1A6;
    padding: 2%;
    color: white;
    font-size: 18px;
    /* background: #1c095a; */
    transition: .5s ease-in;
}

.swiper-slide:hover {

    background-color: #6d837b;
    transition: .3s ease-in;
}

.swiper-slide h2 {
    row-gap: 20px;
    color: #183D3D;
    margin-bottom: 9%;
    /* display: inline-block; */
}

.swiper-slide p {
    margin-bottom: 9%;
    color: #183D3D;
    font-weight: 600;
    /* display: inline-block; */
}


.swiper-slide .review-stars {
    color: gold;
}


/* Swiper CSS End */

/* Contact Me Container Start*/
.contact-section {
    background-color: #fea943;
    width: 100%;
    height: 500px;
}

.contact-title {
    padding: 40px;
    font-size: 3rem;
    font-weight: 650;

}

.two-containers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid red;
}

.container-1 {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #887eaf;
}

.social-handles {
    display: inline-block;
    margin-left: 100px;
    list-style: none;
    background-color: aqua;
}

.social-handles li {
    margin: 10px;

}

.container-2 {
    width: 50%;
    background-color: #347eda;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-around;
}

.container-2 input {
    width: 80%;
    font-size: 1.3rem;
    height: 10%;
    padding: 15px;
    border-radius: 5px;
    
}

.container-2 textarea {
    font-size: 1rem;
    border-radius: 5px;
    padding: 15px;
    height: 70%;
    width: 80%;
}

/*  #040D12
    #183D3D
    #5C8374
    #93B1A6 */

